body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #f2f2f2;
      padding-top: 30px;
      height: 100%;
     }
    header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20 20;
    z-index: 1000;
  }


    
    nav {
      display: flex;
    }
    nav a, nav span {
      text-decoration: none;
      color: #fff;
      padding: 30px 25px;
      background-color: #000;
      border-right: 1px solid #333; 
      font-size: 20px;
      display: flex;
      align-items: center;
      
    }
    .chill  {
      transition: color 0.3s;
    }

    .chill:hover {
      color: rgb(63, 63, 28);         
      
    }
    nav a:hover {
      background-color:blue;
    }
    nav span {
      cursor: default;
    }
    .logo {
      font-size: 30px;
      font-weight: 150px;
      padding: 20px 20px;
      border-right: 1px solid #333; 
      display: flex;
      align-items: center;     
      font-style: italic;       
    
    }
    .word {
      background-color: #000;
      color: white;
    }

    .hero {
      padding: 20px;
      padding-top: 70px;
      text-align:right;
       position: sticky; 
       
  
    }
    .hero h1 {
      font-size: 100px;
      margin-bottom: 20px;
      align-items: flex-start;
      color: white;
      font-weight: 700;
    }
  
    .btn {
      margin-top: 180px;          
      padding: 15px 18px;
      background-color:powderblue;
      border: none;
      border-radius: 1px;
      font-size: 1rem;
      color:black;
      cursor: pointer;
      transition: background 0.3s;
      display: inline-block;
      width: 200px;
    }
    .btn:hover {
    background-color:darkmagenta;
    transform: scale(1.05);
}
.banner {
  width: 100%;
  overflow: hidden;
  background-color: blue; 
  padding: 10px 0; 
  position: relative;
}
  .banner, .sectiontwo-wrapper {
  position: relative;
  z-index: 1;
}

.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: normal;
  color: white; 
  position: relative;
  left: 0; 
  
}



.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  transition: transform 0.3s ease;
}

.nav-item button {
  background: none;
  border:2px solid white;
  color: white;
  font-weight:normal;
  cursor: pointer;
  font-size: 1.3rem;
  transition: all 0.3s ease;
  border-radius: 2px;
  font-style: italic;
}


.nav-item button:hover {
  color: #3409f4;
  transform: translateY(-3px);
}

.nav-item.address {
  color: white;
  cursor: default;
  font-weight: normal;
  font-size: 1.3rem;
    font-style: italic;

}


.hero {
  min-height: 100vh;
  background: url(hudson-hintze-pzgn0feLJwg-unsplash.jpg) center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: left;
  text-align: left;
  width: auto;
}
.overlay {
  align-items: Left;
}
.section {
  padding: 10px 50px;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease;
  margin: 0;
}




.section-img {
  margin-top: 30px;
  max-width: 80%;
  border-radius: 10px;
}


.close {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 2rem;
  cursor: pointer;
}




.sectiontwo {
  display: flex;
  flex-wrap: wrap;
  min-height: 70vh;
  margin-bottom: 2px;
  border-bottom: 2px black;
  flex: 1;
}


.section-left {
  flex: 1;
  background: url('ahmad-odeh-JhqhGfX_Wd8-unsplash.jpg') center/cover no-repeat;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  color:white;
  min-height: 300px;
  position: relative;
  
}

.section-left h1 {
  margin: 20px;
  font-size: 6rem;
  font-weight: 1000;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
  justify-content: left;
  align-items: left;
  height: 300px;
}



.section-right {
  flex: 1;
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-right: 100px;
  padding-left: 100px;
}

.section-right h2 {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
}

.section-right p {
  margin: 20px 0;
  font-size: 1rem;
  font-style:normal;
  text-align: left;
  line-height: 1.8; 
  max-width: 700px; 
  margin: 0 auto;   
}

.btntwo {
  padding: 10px 30px;
  background: blue;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  width: fit-content;
  transition: background 0.3s;
  display: inline-block;
}

.btntwo:hover {
  background: darkblue;
}


#about {
  padding: 60px 20px;
  background: #eee;
  text-align: center;
}
.divider-left {
   flex: 1;
  background: url('nooooow.jpg') center/cover no-repeat;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  color:white;
  min-height: 300px;
  position: relative;

}

.divider-left h1 {
  margin: 20px;
  font-size: 6rem;
  font-weight: 800;
  justify-content: left;
  align-items: left;
  height: 300px;
}



.divider-right {
  flex: 1;
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-right: 100px;
  padding-left: 100px;
}

.divider-right h2 {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
}

.divider-right p {
  margin: 20px 0;
  font-size: 1rem;
  font-style:normal;
  text-align: left;
  line-height: 1.8; 
  max-width: 700px; 
  margin: auto;   
}

.sectionthree {
  padding-top:0px;
  display: flex;
  flex-wrap: wrap;
  min-height: 70vh;
  flex: 1;
}

.founders-section {
  display: flex;
  min-height: auto;
  width: 100%;
}


.left-part {
  flex: 0 0 42%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 50px 30px;
}

.left-part h2 {
  font-size: 2.5rem;
  margin-top: 100px;
  font-weight: 600;
}

.left-part .quote {
  font-size: 1.3rem;
  font-style: italic;
  text-align: left;
  margin-top: 300px;
  font-weight: bold;
}

.left-part .author {
  font-size:1rem;
  font-style: italic ;
  color: #333;
  margin-bottom:100px;

}


.right-part {
  flex: 0 0 58%;
  display: flex;
  flex-direction: column;
}


.top-image {
  flex: 1;
  background: url('new.jpg') center/cover no-repeat;
  position: relative; 
}


.text-over {
  position: absolute;
  bottom: 0;            
  left: 0;
  width: 100%;            
  background-color:magenta;
  padding: 15px 0;
  text-align: left;
  color: black;
  padding-left: 10px;
}
.text-over h3 {
  font-style: bold;
  font-weight: 400;
}

.bottom-image {
  flex: 1;
  background: url('hudson-hintze-pzgn0feLJwg-unsplash.jpg') center/cover no-repeat;
  position: relative; 
}

.text-under {
  position: absolute;
  bottom: 0;              
  left: 0;
  width: 100%;            
  background-color:cyan;
  padding: 15px 0;
  text-align: left;
  color: black;
  padding-left: 10px;
}
.text-over h3 {
  font-style: bold;
  font-weight: 400;
}
.blues {
  background-color: blue;
  color: white;
  padding-top:50px;
  padding-bottom:50px;
  padding-left:100px;
  padding-right:100px;
  text-align: left;
  
}
.blues h1 {
  font-weight: 200px;
}
  


.btnn {
  margin-bottom: 80px;          
  padding: 16px 18px;
  background-color: powderblue;
  border: none;
  border-radius: 1px;
  font-size: 1rem;
  color: black;
  cursor: pointer;
  transition: background 0.3s;
  display: inline-block;
  width: 200px;
  text-align: center;  
}
.btnn:hover {
  background-color: darkmagenta;
  transform: scale(1.05);
  color: white;
}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #c6f6f6;
  padding: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  width: 100%;
}


.footer-left h1 {
  font-size: 6rem;
  line-height: 1.1;
  margin: 0;
}

.footer-center, .footer-right {
  font-size: 1.2rem;
  line-height: 1.6;
}

.footer a {
  color: black;
  text-decoration: underline;
}


.footer-bottom {
  display: flex;
  width: 100%;
  text-align: center;
  min-height: 40vh;
  margin-bottom: 0;
  padding-bottom: 0;
 
}


.bottom-link {
  flex: 1;
  padding: 25px 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.bottom-link.blue {
  background-color: #164BFF; 
}

.bottom-link.black {
  background-color: #000; 
}

.bottom-link.pink {
  background-color: #FF00FF; 
}
.bottom-link.pink :hover {
  background: #d482d4;
}

.bottom-link:hover {
  opacity: 0.8;
} 


